<html>
<head>
<style>
    body { font-size: 6px; font-family:sans-serif; }
    p { margin-top: 0px; margin-bottom:0px }
</style>
</head>
<body>

You have installed an optional module that contains TSP(SM) forms and
other materials. Reference to and use of Carnegie Mellon University's
Team Software Process(SM) materials (including "Using TSP to Improve
Performance" by Dan Burton, Copyright 2008 Carnegie Mellon University,
and "The Team Software Process(SM) (TSP(SM))" by Watts S. Humphrey,
CMU/SEI-2000-TR-023, Copyright 2000 Carnegie Mellon University) is
done under special permission from the Software Engineering Institute.

<p><tt> &nbsp; &nbsp; &nbsp; &nbsp; </tt>
If you wish to use any of Carnegie Mellon University's materials
contained in this module you must obtain specific written permission
from the Software Engineering Institute by contacting them at
permission@sei.cmu.edu.</p>

<p><tt> &nbsp; &nbsp; &nbsp; &nbsp; </tt>
ANY CARNEGIE MELLON UNIVERSITY AND SOFTWARE ENGINEERING INSTITUTE
MATERIAL IS FURNISHED ON AN "AS-IS" BASIS. CARNEGIE MELLON UNIVERSITY
MAKES NO WARRANTIES OF ANY KIND, EITHER EXPRESSED OR IMPLIED, AS TO
ANY MATTER INCLUDING, BUT NOT LIMITED TO, WARRANTY OF FITNESS FOR
PURPOSE OR MERCHANTABILITY, EXCLUSIVITY, OR RESULTS OBTAINED FROM USE
OF THE MATERIAL. CARNEGIE MELLON UNIVERSITY DOES NOT MAKE ANY WARRANTY
OF ANY KIND WITH RESPECT TO FREEDOM FROM PATENT, TRADEMARK, OR
COPYRIGHT INFRINGEMENT.</p>

<p><tt> &nbsp; &nbsp; &nbsp; &nbsp; </tt>
Neither Carnegie Mellon University nor the Software Engineering
Institute have reviewed or endorsed Process Dashboard or this
module.</p>

</body></html>
