<html><!--#do-not-translate-->
<head>
<title>Acceptance Test Script</title>
<link rel=stylesheet type="text/css" href="style.css">
</head>
<body>
<h1>Acceptance Test Script</h1>

<table border>
<tr>
<td>Phase<br>Number</td>
<td>Purpose</td>
<td>To guide the TSP(SM)
Acceptance Test process.</td>
</tr>

<tr>
<td>&nbsp;</td>
<td valign=top>Entry Criteria</td>
<td><ul>
<li>TSP(SM) <a href="summary.shtm">Project Plan Summary</a>
    form</li>
<li><a href="../reports/timelog.class">Time</a> and 
    <a href="../reports/defectlog.class">Defect</a> Recording Logs</li>
<li><a href="../reports/dts.class">Defect Type Standard</a></li>
</ul></td>
</tr>

<tr>
<td valign=top>1</td>
<td valign=top>&nbsp;</td>
<td valign=top><i>Customize this script to put your own steps here</i></td>
</tr>

<tr>
<td>&nbsp;</td>
<td valign=top>Exit Criteria</td>
<td><ul>
<li>Completed <a href="../reports/timelog.class">Time</a> and 
    <a href="../reports/defectlog.class">Defect</a> Recording Logs</li>
</ul></td>
</tr>

</table>


<p><a href="Postmortem_script.htm">Next:
   Postmortem</a>.


<p><a href="script.htm">Top</a>

</body>
</html>
