<html><!--#do-not-translate-->
<head>
<title>TSP(SM) Script</title>
<link rel=stylesheet type="text/css" href="style.css">
</head>
<body>
<h1>TSP(SM) Process Script</h1>

<table border>
<tr>
<td>Phase<br>Number</td>
<td>Purpose</td>
<td>To guide the TSP(SM) process.</td>
</tr>

<tr>
<td>&nbsp;</td>
<td valign=top>Entry Criteria</td>
<td><ul>
<li>TSP(SM) <a href="summary.shtm">Project Plan Summary</a>
    form</li>
<li><a href="../reports/timelog.class">Time</a> and 
    <a href="../reports/defectlog.class">Defect</a> Recording Logs</li>
<li><a href="../reports/dts.class">Defect Type Standard</a></li>
</ul></td>
</tr>




<tr>
<td valign=top>1</td>
<td valign=top><a href="Misc_script.htm">Management and Miscellaneous</a></td>
<td valign=top><i>Customize this script to put your own instructions
     here</i></td>
</tr>



<tr>
<td valign=top>2</td>
<td valign=top><a href="Strategy_script.htm">Launch and Strategy</a></td>
<td valign=top><i>Customize this script to put your own instructions
     here</i></td>
</tr>



<tr>
<td valign=top>3</td>
<td valign=top><a href="Planning_script.htm">Planning</a></td>
<td valign=top><i>Customize this script to put your own instructions
     here</i></td>
</tr>



<tr>
<td valign=top>4</td>
<td valign=top><a href="Reqts_script.htm">Requirements</a></td>
<td valign=top><i>Customize this script to put your own instructions
     here</i></td>
</tr>



<tr>
<td valign=top>5</td>
<td valign=top><a href="Sys_Test_Plan_script.htm">System Test Plan</a></td>
<td valign=top><i>Customize this script to put your own instructions
     here</i></td>
</tr>



<tr>
<td valign=top>6</td>
<td valign=top><a href="Reqts_Review_script.htm">Requirements Review</a></td>
<td valign=top><i>Customize this script to put your own instructions
     here</i></td>
</tr>



<tr>
<td valign=top>7</td>
<td valign=top><a href="Reqts_Inspect_script.htm">Requirements Inspection</a></td>
<td valign=top><i>Customize this script to put your own instructions
     here</i></td>
</tr>



<tr>
<td valign=top>8</td>
<td valign=top><a href="HLD_script.htm">High-Level Design</a></td>
<td valign=top><i>Customize this script to put your own instructions
     here</i></td>
</tr>



<tr>
<td valign=top>9</td>
<td valign=top><a href="Int_Test_Plan_script.htm">Integration Test Plan</a></td>
<td valign=top><i>Customize this script to put your own instructions
     here</i></td>
</tr>



<tr>
<td valign=top>10</td>
<td valign=top><a href="HLD_Review_script.htm">HLD Review</a></td>
<td valign=top><i>Customize this script to put your own instructions
     here</i></td>
</tr>



<tr>
<td valign=top>11</td>
<td valign=top><a href="HLD_Inspect_script.htm">HLD Inspection</a></td>
<td valign=top><i>Customize this script to put your own instructions
     here</i></td>
</tr>



<tr>
<td valign=top>12</td>
<td valign=top><a href="Design_script.htm">Detailed Design</a></td>
<td valign=top><i>Customize this script to put your own instructions
     here</i></td>
</tr>



<tr>
<td valign=top>13</td>
<td valign=top><a href="Design_Review_script.htm">Detailed Design Review</a></td>
<td valign=top><i>Customize this script to put your own instructions
     here</i></td>
</tr>



<tr>
<td valign=top>14</td>
<td valign=top><a href="Test_Devel_script.htm">Test Development</a></td>
<td valign=top><i>Customize this script to put your own instructions
     here</i></td>
</tr>



<tr>
<td valign=top>15</td>
<td valign=top><a href="Design_Inspect_script.htm">Detailed Design Inspection</a></td>
<td valign=top><i>Customize this script to put your own instructions
     here</i></td>
</tr>



<tr>
<td valign=top>16</td>
<td valign=top><a href="Code_script.htm">Code</a></td>
<td valign=top><i>Customize this script to put your own instructions
     here</i></td>
</tr>



<tr>
<td valign=top>17</td>
<td valign=top><a href="Code_Review_script.htm">Code Review</a></td>
<td valign=top><i>Customize this script to put your own instructions
     here</i></td>
</tr>



<tr>
<td valign=top>18</td>
<td valign=top><a href="Compile_script.htm">Compile</a></td>
<td valign=top><i>Customize this script to put your own instructions
     here</i></td>
</tr>



<tr>
<td valign=top>19</td>
<td valign=top><a href="Code_Inspect_script.htm">Code Inspection</a></td>
<td valign=top><i>Customize this script to put your own instructions
     here</i></td>
</tr>



<tr>
<td valign=top>20</td>
<td valign=top><a href="Test_script.htm">Unit Test</a></td>
<td valign=top><i>Customize this script to put your own instructions
     here</i></td>
</tr>



<tr>
<td valign=top>21</td>
<td valign=top><a href="Int_Test_script.htm">Build and Integration Test</a></td>
<td valign=top><i>Customize this script to put your own instructions
     here</i></td>
</tr>



<tr>
<td valign=top>22</td>
<td valign=top><a href="Sys_Test_script.htm">System Test</a></td>
<td valign=top><i>Customize this script to put your own instructions
     here</i></td>
</tr>



<tr>
<td valign=top>23</td>
<td valign=top><a href="Documentation_script.htm">Documentation</a></td>
<td valign=top><i>Customize this script to put your own instructions
     here</i></td>
</tr>



<tr>
<td valign=top>24</td>
<td valign=top><a href="Accept_Test_script.htm">Acceptance Test</a></td>
<td valign=top><i>Customize this script to put your own instructions
     here</i></td>
</tr>



<tr>
<td valign=top>25</td>
<td valign=top><a href="Postmortem_script.htm">Postmortem</a></td>
<td valign=top><i>Customize this script to put your own instructions
     here</i></td>
</tr>



<tr>
<td valign=top>26</td>
<td valign=top><a href="Product_Life_script.htm">Product Life</a></td>
<td valign=top><i>Customize this script to put your own instructions
     here</i></td>
</tr>



<tr>
<td>&nbsp;</td>
<td valign=top>Exit Criteria</td>
<td><ul>
<li>Completed TSP(SM)
    <a href="summary.shtm">Project Plan Summary</a> form</li>
<li>Completed <a href="../reports/timelog.class">Time</a> and 
    <a href="../reports/defectlog.class">Defect</a> Recording Logs</li>
</ul></td>
</tr>

</table>

</body>
</html>
