<?xml version='1.0' encoding='UTF-8'?>
<custom-process name='TSP(SM)' abbr='TSP' version='' generator='/team/lib/script-v1.xml'>
    <param name='rollupSummaryFilename' value='tsp_plan_summary.xml' />
    <param name='splashHtmlFilename' value='tspSplash.html' />
    <param name='licenseHtmlFilename' value='tspLicense.html' />
    <param name='legalFooterSnippet' value='tspFooter.html' />
    <param name='dashPackageName' value='Tuma Solutions&apos;s TSP(SM) Module' />
    <phase color='#bbbbbb' longName='Management and Miscellaneous' name='Misc' type='MGMT' />
    <phase color='#e6be8c' longName='Launch and Strategy' name='Strategy' type='STRAT' />
    <phase color='#bf9f75' longName='Planning' name='Planning' readOnly='true' type='PLAN' />
    <phase color='#00ffff' estDefectInjRate='0.25' longName='Requirements' name='Reqts' sizeMetric='Req Pages' type='REQ' />
    <phase color='#8cba8c' longName='System Test Plan' name='Sys Test Plan' sizeMetric='Text Pages' type='STP' />
    <phase color='#00bfbf' estYield='0.70' longName='Requirements Review' name='Reqts Review' sizeMetric='Req Pages' type='REQINSP' />
    <phase color='#008080' estYield='0.70' longName='Requirements Inspection' name='Reqts Inspect' sizeMetric='Req Pages' type='REQINSP' />
    <phase color='#cc66ff' estDefectInjRate='0.25' longName='High-Level Design' name='HLD' sizeMetric='HLD Pages' type='HLD' />
    <phase color='#658765' longName='Integration Test Plan' name='Int Test Plan' sizeMetric='Text Pages' type='ITP' />
    <phase color='#990099' estYield='0.70' longName='HLD Review' name='HLD Review' sizeMetric='HLD Pages' type='HLDRINSP' />
    <phase color='#660066' estYield='0.70' longName='HLD Inspection' name='HLD Inspect' sizeMetric='HLD Pages' type='HLDRINSP' />
    <phase color='#aaaaff' estDefectInjRate='0.75' longName='Detailed Design' name='Design' readOnly='true' sizeMetric='DLD Lines' type='DLD' />
    <phase color='#6666ff' estYield='0.70' longName='Detailed Design Review' name='Design Review' readOnly='true' sizeMetric='DLD Lines' type='DLDR' />
    <phase color='#4d664d' longName='Test Development' name='Test Devel' sizeMetric='Text Pages' type='TD' />
    <phase color='#4545ac' estYield='0.70' longName='Detailed Design Inspection' name='Design Inspect' sizeMetric='DLD Lines' type='DLDINSP' />
    <phase color='#66ff66' estDefectInjRate='2' longName='Code' name='Code' readOnly='true' type='CODE' />
    <phase color='#00c000' estYield='0.70' longName='Code Review' name='Code Review' readOnly='true' type='CR' />
    <phase color='#ffcc00' estDefectInjRate='0.3' estYield='0.50' longName='Compile' name='Compile' readOnly='true' type='COMP' />
    <phase color='#008c00' estYield='0.70' longName='Code Inspection' name='Code Inspect' type='CODEINSP' />
    <phase color='#ff9900' estDefectInjRate='0.067' estYield='0.90' longName='Unit Test' name='Test' readOnly='true' type='UT' />
    <phase color='#ee4900' estYield='0.80' longName='Build and Integration Test' name='Int Test' type='IT' />
    <phase color='#dd0000' estYield='0.80' longName='System Test' name='Sys Test' type='ST' />
    <phase color='#bdb76b' longName='Documentation' name='Documentation' sizeMetric='Text Pages' type='DOC' />
    <phase color='#aa0000' longName='Acceptance Test' name='Accept Test' type='AT' />
    <phase color='#996633' longName='Postmortem' name='Postmortem' readOnly='true' type='PM' />
    <phase color='#888888' longName='Product Life' name='Product Life' type='PL' />
    <sizeMetric iconColor='#ffffff' iconStyle='document' longName='Text Pages' name='Text Pages' productName='General Document' units='Pages' />
    <sizeMetric iconStyle='document' longName='Requirements Pages' name='Req Pages' productName='Requirements Document' units='Pages' />
    <sizeMetric iconStyle='document' longName='HLD Pages' name='HLD Pages' productName='High Level Design Document' units='Pages' />
    <sizeUnits id='Pages' pluralName='Pages' singularName='Page' />
</custom-process>
